header.sellerHeader {
  height: 95px;
  padding-top: 0%;
  margin-top: 0%;
  padding-left: 3vw;
}
.sellerLogoo img {
  height: 95px;
  margin-top: 0%;
}
.seller .topSection {
  background-color: var(--cityE);
  height:   100vh;
}
.seller .topSectionContent{
    display: flex;
    justify-content: space-between;
    padding: 5vh 10vw;

}
.topSectionContent .topSectionPicture{
height: 35vh;
width: 40vh;
text-align: center;
margin-right: 40px;
}
.topSectionContent .topSectionPicture img.imm{
    height: 40vh;
    border-radius: 10px;
}
.topSectionContent .topSectionPicture img.moooney{
    position:relative;
    height:10vh ;
    width: 10vh;
    left: -13vh;
    bottom: 8vh;
    animation: moveUpDown 2s infinite;
}
.topSectionContent .topSectionPicture img.jewerly{
    position:relative;
    height:10vh ;
    left: 12vh;
    bottom: 40vh;
    animation: moveUpDown 2s infinite;
}
.topSectionContent .topSectionPicture img.shoppingCart-seller{
  position: relative;
  height:150px;
  bottom: 42vh;
  animation: moveUpDown2 2s infinite;

}
@keyframes moveUpDown {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-25px);
  }
  100% {
      transform: translateY(0);
  }
}
@keyframes moveUpDown2 {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}
.TopSectionTitle .TitleText{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 5vh;
  color: rgb(59, 59, 59);
}
.TopSectionTitle .titleAction{
  background-color: rgb(57, 57, 57);
  color: var(--cityE);
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.arrowIcon {
  padding-top: 5px;
  transition: transform 0.2s ease;
}
.titleAction:hover .arrowIcon {
  transform: translateX(5px) scale(1.1);
 
}
.SecondSection{
  width: 80vw;
  position: relative;
  margin: 5vw auto;
  background-color: rgb(57, 57, 57);
  height: 50vh;
  top: -35vh;
  
  display: flex;
  margin-bottom: 0%;
}

.stats{
  width: 70%;
  margin-right: 10%;
  padding: 10vh 7vw;

}
.buisinessWoman{
  position: absolute;
  left: 58vw;
  bottom: 0vh;
  height: 70vh;

}
.firstStat{
  width: 50%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.secondStat{
  width: 50%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;



}
 .thirdStat{
  width: 50%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
 .fourthStat{
  width:50%;
  text-align: center;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}
.desss{
  color: rgb(166, 166, 166);
  font-size: 1rem;
  font-weight: 300;
  margin-left: 15px;
}
.firstline{
  display: flex;
  margin-bottom: 5vh;
}
.secondLine{
  display: flex;
}
.thirdSection{
  padding: 0 10vw;
  margin-top: 0%;
  position: relative;
  display: flex;
  justify-content: space-between;
  bottom: 25vh;
}
.textt .textTitle{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 3vh;
  color: rgb(59, 59, 59);
}
.textt .textDesc{
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(108, 108, 108);
  margin-bottom: 3vh;
}

.textt .titleAction{
  background-color: rgb(57, 57, 57);
  color: var(--cityE);
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.textt .titleAction:hover{
  font-size: 1.05rem;
}
.TopSectionTitle .titleAction:hover{
  font-size: 1.05rem;
}
.thirdSection .chartt{
  height: 40vh;
  width: 28vw;
  border: 1px solid black;
  margin-top: 10vh;
  padding: 1vh 1vw;
}
.dashAdd{
  display: flex;
  justify-content: space-between;
  width: 230px;
  padding: 1vh 2vw;
  background-color: var(--cityE);
  position: relative;
  bottom: 45vh;
  left: 12vw;
}
.dashAdd .dashhText{
  display: flex;
  flex-direction: column;
}
.dashtextTitle{
  font-size: 1.4rem;
  font-weight: 800;
  color: white;
}
.dashtextDesc{
  font-size: 0.9rem;
  color: rgb(237, 237, 237);
}
.fourthSection{
  display: flex;
  justify-content: space-between;
  padding: 0 10vw 5vh;

}
.fourthRight .fourthTitle{
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 4vh;
  color: rgb(59, 59, 59);}

.fourthSection .fourthDesc{
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(108, 108, 108);
  margin-bottom: 3vh;
}
.fourthSection .titleAction{
  background-color: rgb(57, 57, 57);
  color: var(--cityE);
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.fourthSection .titleAction:hover{
  font-size: 1.05rem;
}
.fourthLeft .fourthCadre{
  height: 24vh;
  width: 33vw;
  border: 1px solid black;
  padding: 2vh 2vw;
}
.fourthLeft{
  display: flex;
  flex-direction: column;
  height:50vh ;
  justify-content: space-between;
}
.cadreImg .whey , .cadreImg .vans{
  height: 14vh;
}
.fourthCadre{
  display: flex;
  flex-direction: column;
}
.cadreContent{
  display: flex;
  justify-content: space-between;
}
.cadreTextt{
  display: flex;
  flex-direction: column;
}
.cadreTextTitle{
  font-weight: bolder;
}
.cadreTextState{
  color: grey;
  font-size: smaller;
}
.cadrfeTextPrice{
  font-weight: bold;
}
.cadreAlert{
  color: grey;
  font-size: smaller;
  font-weight: 400;
}