:root {
    --blueChelsea : #0153DF;
    --blueCity : #3F85FF;
    --blackNewcastle : #000000;
}

.parentLogin {
    width:80vw;
    height: 85vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 10px ;
}
.parentImage {
    width: 27%;
    height: 100%;
    display: grid;
    place-items: center;
}

.parentForm {
    display: grid;
    place-items: center;
    width: 50%;
    height: 100%;
}
.formLogin {
    background-color: var(--blueChelsea);
    padding: 0.5rem;
    padding-top: 1rem;
    height: 90%;
    width: 100%;
    border-radius: 10px;
    color: white;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box input {
    background: transparent;
    border : 0.1rem solid white;
    border-radius:10px;
    font-size: 1rem;
    padding: 0.5rem ;
    color: white;
    font-weight: 500;
    width: 80%;
}
.box input::placeholder {
    color:rgba(255, 255, 255, 0.758);
    opacity: 0.8;
}
.box label {
    display: block;
    background-color: white;
    color: var(--blueCity);
    width: fit-content;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0rem 0.2rem;
    position: relative;
    top: 0.5rem;
    left: 3.8rem;
}
.box input:focus {  
    outline: 0.15rem white;
}
.parentline {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
}
.cookies {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
    overflow: hidden;
    padding: 0.5rem 0rem ;
    vertical-align: center;
}
#labelCheckboxCoockies {
    color: white;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    width: 80%;
    position: relative;
    bottom: 2rem;
    margin-top: -1.2rem;
    margin-left: -6.3rem;
    cursor: pointer;
}
.cookies input {
    width: 20%;
    outline: none;
    cursor: pointer;
    margin-left: 1rem;
}
.cookies input:focus {
    outline: none;
}
.forget-box a {
    font-size: 0.8rem;
    text-decoration: none;
    color: white;    
    position: relative;
    bottom: 0.5rem;
    transition: all 0.2s ;
}
.forget-box a:hover {
    text-decoration: underline;
}

.submitBtn {
    background-color: vwhite;
    color: var(--blueCity);
    padding: 0.6rem 0.6rem;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border: 0.1rem solid white;
    letter-spacing: 0.1rem;
    transform: all .15s;
}
.submitBtn:hover {
    background: transparent;
    color: white;
}
.submitBtn:active {
    opacity: 0.6;
}

.formLogin h1 {
    border-bottom: 1px  solid rgba(255, 255, 255, 0.477);
    width: 90%;
    font-size: 1.8rem;
    margin: auto;
    padding-bottom: 1rem;
    margin-bottom: .7rem ;
    margin-top: 1rem ;
}

.showBtn {
    position: absolute;
    color: white;
    background: none;
    border: none;
    outline: none;
    font-size: 1.6rem;
    margin-top: 0.15em;
    margin-left: -2rem;
    cursor: pointer;
}

.parentCicleImages {
    background-image: linear-gradient(37deg, var(--blueChelsea),var(--blueChelsea), var(--blueCity));
    width: 330px;
    height: 330px;
    border-radius: 50%;
    margin-top: 50px;
}

.LoginImg1 {
    position: relative;
    right: 2rem;
    bottom: 3rem;
    width: 280px;
}
.LoginImg2 {
    position: relative;
    width: 220px;
    bottom: 22rem;
    left: 7rem; 
}
.LoginImg3 {
    border-radius: 10px;
    width: 200px;
    height: 30px;
    object-fit: cover;
    position: absolute;
    top: 23rem;
    left: 16.5rem;
    transform: skew(-8deg) rotate(-3deg);
    z-index: 5;
}

.parentCicleImages h1 {
    color: var(--blueCity);
    text-transform: capitalize;
    font-size: 2.6rem;
    padding: 0.1rem 0.2rem;
    margin: 0;
    position: relative;
    bottom: 24.5rem;
    background-color: white;
    transform: skew(-8deg) rotate(-3deg);
    border-radius: 10px;
    z-index: 4;
}

.googleBtn  {
    background-color: white;
    color: var(--blueCity);
    padding: 0.6rem 0.6rem;
    width: 80%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    border: 0.1rem solid white;
    letter-spacing: 0.02rem;
    transform: all .15s;
}

@media (max-width:720px){
    .parentImage {
        display: none;
    }
    .parentForm {
        width: 100%;
    }
    .formLogin {
        width: 100%;
    }
}