.dashboard-content{
    width: 77%;

}
.dashboardUser{
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 7rem auto 4rem auto;
}


.titledashboard{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 0.9rem ;
    margin-left: 0.7rem ;
}
#shopingCart,#wishlistsIcon{
    font-size: 1rem;
}

@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }