:root {
    --blueChelsea : #0153DF;
    --blueCity : #3F85FF;
    --blackNewcastle : #000000;
}


.headerWorkout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(183, 183, 183);
    font-size: 0.7rem;
}

.headerWorkout span {
    color: var(--blueCity);
    font-weight: 500;
    font-size: 0.8rem;
}

.parentRowWorkout {
    display: flex;
    font-size: 0.8rem;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-top: -.5rem;
}

.parentRowWorkout span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--blueCity);
    font-size: 0.7rem;
}

.parentRowWorkout {
    margin-bottom: .3rem;
}

.parentRowWorkout span p:first-child {
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

#levelWorkOut {
    color: var(--blueChelsea);
    font-size: 0.6rem;
    margin-left: .4rem;
    margin-top: -.2rem;
}

.RowExerciceWorkout {
    display: flex;
    align-items: center;  
    justify-content: space-between;  
    background-color: var(--blueCity);
    margin-bottom: 0.3rem;
    padding: 0.2rem;
    border-radius: 5px;
    
}

#parentImgExWorkout {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.RowExerciceWorkout img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
}

.infoRowExercice p{
    color: black;
    font-size: 0.7rem;
    font-weight: 500;
    text-align: start;
}

.infoRowExercice h4{
    color: white;
    text-align: start;
}

.elementInfoImgExerciceWorkout {
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.parentRowWorkoutSuccess {
    background-color: rgb(61, 228, 19);
    border-radius: 5px;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
}

.parentRowWorkoutSuccess header {
    color: white;
}

.parentRowWorkoutSuccess header span{
    color: white;
}


.parentRowWorkoutSuccess .parentRowWorkout {
    color: white;
}

.parentRowWorkoutSuccess .parentRowWorkout span p{
    color: white;
}

.parentRowWorkoutSuccess .parentRowWorkout span #levelWorkOut{
    color: white;
}


#successWorkout {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -.6rem;
    font-size: 0.8rem;
    background-color: white;
    color: rgb(61, 228, 19);
    border-radius: 5px;
}

#inputCheckExercice {
    display: none;
}

#labelCheckExercice {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    margin-left: -1.5rem;
    margin-top: -.5rem;
}


#labelCheckExercice i {
    font-size: 1.3rem;
    font-weight: 600;
}


.bx-checkWhite {
    color: white;
}

.parentRowWorkoutYellow  {
    background-color: rgb(255, 217, 0);
    color: black;
}

.parentRowWorkoutYellow header{
    color: black;
}
.parentRowWorkoutYellow header span {
    color: black;
}
.parentRowWorkoutYellow #successWorkout{
    color: rgb(244, 187, 0) ;
}
.parentRowWorkoutYellow .parentRowWorkout{
    color: black ;
}
.parentRowWorkoutYellow .parentRowWorkout span p{
    color: black ;
}
.parentRowWorkoutYellow .parentRowWorkout span #levelWorkOut {
    color: black ;
}

.parentRowWorkoutRed {
    background-color: red;
}

.parentRowWorkoutRed #successWorkout{
    color: red;
}