:root {
    --blueChelsea : #0153DF;
    --blueCity : #3F85FF;
    --blackNewcastle : #000000;
}

.parenttrainingEffect {
    padding: 1rem;
    border: 0.07rem solid black;
    border-radius: 5px;
    margin-top: .5rem;
}


.keysOfTrainingEffect {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 90%;
}

.keysOfTrainingEffect ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style: none;
}


.Minor {
    color: grey;
}

.Maintaining {
    color: blueviolet;
}

.HighlyImproving {
    color: var(--blueCity);
}

.Recovery {
    color: rgb(0, 255, 13);
}

.Improving {
    color: rgb(255, 217, 0);
}

.Overreaching {
    color: red;
}

.progressBarTrainingEffect {
    display: flex;
    width: 90%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.MinorPart {
    background-color: grey;
    width: 16.66%;
    display: flex;
    justify-content: center;
}
.MaintainingPart {
    background-color: blueviolet;
    width: 16.66%;
    display: flex;
    justify-content: center;
}
.HighlyImporovingPart {
    background-color: var(--blueCity);
    width: 16.66%;
    display: flex;
    justify-content: center;
}
.RecoveryPart {
    background-color: rgb(0, 255, 13);
    width: 16.66%;
    display: flex;
    justify-content: center;
}
.ImprovingPart {
    background-color: rgb(255, 217, 0);
    width: 16.66%;
    display: flex;
    justify-content: center;
}
.OverreachingPart {
    background-color: red;
    width: 16.66%;
    display: flex;
    justify-content: center;
}

.pointofPosistion {
    color: #00000000;
}

.bxs-down-arrow {
    position: absolute;
    margin-top: -.5rem;
    font-size: 1.5rem;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}