:root {
    --blueChelsea : #0153DF;
    --blueCity : #3F85FF;
    --blackNewcastle : #000000;
}

.btnNavbarExercices {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: black;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}

.btnNavbarExercicesOverview {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: black;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    border-radius: 30px;
    transition: all .2s ease-in-out;
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.171), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 0.1rem solid black;
}

.btnNavbarExercicesOverview i {
    color: var(--blueChelsea);
    font-size: 1.2rem;
}
.btnNavbarExercicesActivity {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: black;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.2rem 0.4rem;
    border-radius: 30px;
    transition: all .2s ease-in-out;
    background-image: linear-gradient(100deg, rgba(0, 0, 0, 0.171), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    border: 0.1rem solid black;
}

.btnNavbarExercicesActivity i {
    color: var(--blueChelsea);
    font-size: 1.2rem;
}


.btnNavbarExercices:hover {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: black;
    font-weight: 400;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #bbbbbb4d;
}


.btnNavbarExercices i {
    font-size: 1.1rem;
    color: var(--blueChelsea);
    text-decoration: none;
}

.Link {
    text-decoration: none;
}

.parentSearchBarExercices {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid var(--blueChelsea);
    padding: 0.1rem ;
    border-radius: 30px;
    width: 190px;
    
}

.parentSearchBarExercices i{
    color: var(--blueChelsea);
    font-size: 1.2rem;
    padding: 0.1rem 0.2rem;
    border-right: 0.07rem solid var(--blueChelsea);
}

.parentSearchBarExercices input {
    background-color: none;
    border: none;
    outline: none;
    padding-left: 0.3rem ;
    color: black;
    font-weight: 500;
    width: 150px;
}

.btnNotification {
    background: none;
    outline: none;
    border: none;   
}

.btnNotification i {
    font-size: 1.4rem;
    color: var(--blueChelsea);
    padding-top: 0.2rem;
    cursor: pointer;
}