:root {
    --blackE: #0c010b;
    --blueE: #0151e4;
    --cityE : #199df5;
    --cityEshadow : #1a9df573 ; 
    --whiteE : #f2f1f5;
    --grey : #eef0ef;
    --radius : 10px;
}
.parentSlide {
    width: 80vw;
    margin: auto;
    padding-top: 4rem;
}
.parentItem1 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-bottom: 8rem;
}
.textItem1 {
    width: 50%;
    text-align: start;
}
.textItem1 h1 {
    font-size: 3rem;
    background-image: linear-gradient(140deg, rgb(1,81,228),rgb(112,199,255));
    -webkit-background-clip: text;
    color: transparent;
}
.textItem1 p {
    color: #0c010b;
    opacity: 0.8;
    width: 80%;
}
.imageItem1 {
    width: 50%;
}
.imageItem1 img {
    width: 350px;
}
.parentItem2 {
    display: flex;
    flex-direction: column ;

}
.textItem2 h1{
    font-size: 3rem;
    background-image: linear-gradient(140deg, rgb(1,81,228),rgb(112,199,255));
    -webkit-background-clip: text;
    color: transparent;
}
.textItem2 p{
    color: var(--blackE);
    width: 65vw;
    opacity: 0.8;
    margin: auto;
    padding-bottom: 4rem;
}
.arrayIcons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 5rem;
}
.calories {
    width: 28%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    color: var(--cityE);
}
.calories p{
    font-size: 0.8rem;
    width: 100%;
    padding: 1rem;
    opacity: 0.8;
}
.calories h3{
    background-image: linear-gradient(140deg, rgb(1,81,228),rgb(112,199,255));
    -webkit-background-clip: text;
    color: transparent;
}
.bar {
    width: 28%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    color: var(--cityE);
}
.bar h3{
    background-image: linear-gradient(140deg, rgb(1,81,228),rgb(112,199,255));
    -webkit-background-clip: text;
    color: transparent;
}
.bar p{
    font-size: 0.8rem;
    width: 100%;
    padding: 1rem;
    opacity: 0.8;
    
}
.community {
    width: 28%;
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
    color: var(--cityE);
}
.community p{
    font-size: 0.8rem;
    width: 100%;
    padding: 1rem;
    opacity: 0.8;
}
.community h3{
    background-image: linear-gradient(140deg, rgb(1,81,228),rgb(112,199,255));
    -webkit-background-clip: text;
    color: transparent;
}

@media (max-width:820px) {
    .parentSlide {
        padding-top: 16rem;
    }
    .parentItem1 {
        display: flex;
        flex-direction: column;
    }
    .textItem1 {
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .textItem1 p{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .imageItem1 {
        width: 100%;
        margin: auto;
    }
    .arrayIcons {
        display: flex;
        flex-direction:column ;
    }
    .calories, .bar, .community {
        width: 100%;
    }
}