:root {
  --blueChelsea : #0153DF;
  --blueCity : #3F85FF;
  --blackNewcastle : #000000;
}

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection {
  background-color: black;
  color: var(--blueCity);
}

.parentLoader {
  width: 200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 38px;
  height: 38px;
  border: 2px solid var(--blueChelsea);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background:var(--blueCity);
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 