

.pagination-button {
    padding: 8px 16px;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.pagination{
    margin:2rem auto;

}

.pagination-button:hover {
    background-color: #e0e0e0;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination-info {
    margin: 0 10px;
    font-size: 14px;
}
