:root {
    --blueChelsea : #0153DF;
    --blueCity : #3F85FF;
    --blackNewcastle : #000000;
}

.parentSideBarSeller {
    width: 99%;
    margin-top: 0.7rem;

}

.parentSideBarSeller ul {
    filter: drop-shadow(100px 0 238px  #0152df);

    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.parentSideBarSeller ul li button i{
 display: none;
}
.parentSideBarSeller ul li button {
    color: black;
    background-color: white;
    border: 0.08rem solid rgba(0, 0, 0, 0.281);
    width: 68%;

    text-align: center;
    font-size: 1rem;
    transition: all 0.4s ease-in-out;

    padding: 0.2rem 0 0.2rem 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.8rem;
    cursor: pointer;
    border-radius: 22px;
}

.parentSideBarSeller ul li button:hover {
    background-color: rgb(243, 243, 243);
}


.linkseller{
    text-decoration: none;
}
#arrowSideBarSeller {
    background: none;
    border: none;
    outline: none;
    color: black;
}

#btnSideBarActive {
    background-color: black;
    padding: 0.6rem 0 0.6rem 1rem;
    width: 88%;

    color: white;
}
#btnSideBarActive #arrowSideBarSeller{
    display: none;
}


@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  

@media (max-width : 767px){
   
    .profiletext{
        display: none;
    }
    .storelogo img{
        margin-left: 0;
    }
    #arrowSideBarSeller{
        display: none;
    }

    #btnSideBarActive i{
  color: white;
  padding-left: 0.6rem;
 
    }
    .topsearch{
        flex-direction: column;
        gap: 20px;
    }
   
.parentSideBar ul li button i {
  display: block;
}
.parentSideBarSeller{
    height: 40vh;
    margin-top: 3rem;
}
.parentSideBarSeller ul{
    width: 100px;
    i{
        font-size: 2rem;
    }
}


 }