:root {
    --blueChelsea : #0153DF;
    --blueCity : #3F85FF;
    --blackNewcastle : #000000;
}

.parentTitleExercicesChemin {
    width: 80vw;
    margin: auto;
    padding: 1rem 0.4rem;
}

.parentTitleExercicesChemin p {
    color: grey;
    font-size: 0.7rem;
}
.parentTitleExercicesChemin p span{
    color: rgb(0, 0, 0);
}

.parentContentExercices {
    width: 90vw;
    margin: auto;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 3rem;
}


@media (max-width:775px){
    
    .parentContentExercices {
        display: block;
        width: 100%;
    }

}